
#home-body {
background-size:1400px
}
.central-text-section{
    margin:10px 30px 10px 45px
}
.middle{

     width:890px;
     height:690px;
     background: rgba(0, 0, 0, 0.5);
     margin:0px 250px 0px 300px
}
.header{
    width:885px;
    height:260px;
    background-size:900px;
    border:ridge;
    border-bottom:none;
}
h1
{
    padding:140px 500px 50px 50px;
    width:885px;
    font-family:'Buxton Sketch',Andalus;
    font-size:300%;
    font-weight:bolder;
}

h2
{
   padding:0px 0px 0px 30px;
   font-size:200%;

}

h3
{ 
   padding:0px 0px 0px 5px;
   font-size:150%;
}
.tabs
{
    width:585px;
    height:30px;
    background-color:darkblue;
    border:ridge;
    color:white;
    padding:15px 0px 5px 300px;
    
}
.tabs a{
    color:#ffffff;
    text-decoration:none;
    font-size:120%;
}


#northern-small
{
    width:160px;
    height:200px;
    margin:100px 50px 50px 100px;
    padding-top:10px;
    text-align:center;
    float:left;
    border:groove
   }
#desert-large
{
    width:240px;
    height:250px;
    margin: 50px 50px 30px 10px;
    float:left;
    padding-top:5px;
    padding-bottom:10px;
    text-align:center;
    border:groove
}
#historical-small
{ 
    width:160px;
    height:200px;
    margin:100px 50px 50px 10px;
    text-align:center;
    float:left;
    padding-top:10px;
    border:groove  
}
.small-image
{
   width:150px ;
   height:150px;
   margin:5px 5px 5px 5px"
}
#large-image
{ 
   width:200px ;
   height:200px;
   margin:5px 5px 5px 5px
}
/******************** Desert********************/
#desert-body
{
    background-image:url(desert.jpg);
    background-clip:padding-box;
    background-size:1400px;
    background-attachment:fixed;
}
.Dmiddle
{
     width:890px;
     
     background: rgba(255, 255, 255, 0.7);
     margin:0px 400px 0px 200px
}
.content{
    padding:5px 25px 15px 25px;
    font-family:'Times New Roman';
    font-size:120%;
    text-align:justify;


}
.img-desert
{
    width:400px;
    height:250px;
    margin:20px 100px 10px 100px
}
.img-main
{
    width:600px;
    height:250px;
    margin:20px 100px 10px 100px
}


.caption-home
{
   font-family:Andalus;
   font-weight:bold;
   color:white;
   font-size:120%;
}

/*************** Northern ***************************/

#northern-body
{
    background-image:url(Karakul-Lake.jpg);
    background-clip:padding-box;
    background-size:1400px;
    background-attachment:fixed;
}

#historical-body
{
    background-image:url(Rohtas-Fort.jpg);
    background-clip:padding-box;
    background-size:1400px;
    background-attachment:fixed;
}
